# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include CHANGES LICENSE.md README.* TODO MANIFEST.in
include ghpDoc/*
include auto8it countem installit test.all
include commentsFor* pySloc
include yyFoo*
recursive-include pysloc *.py
recursive-include test *
global-exclude junk* .*swp 
prune   .svn
